<html lang="en">
<head>
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/png" href="/static/skeleton/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout————
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <h4>{{title}}</h4>
    <div id="login_form">
    	<form action="{{post_url}}" method="post">
		    <div class="row" style="display:{{name_display}}">
			    <div class="six column">
			      <label for="surname">Votre nom</label>
            <input class="u-full-width" type="text" placeholder="Awesome Guy" name="name">
          </div>
      </div>
      <div class="row" style="display:{{password_display}}">
          <div class="six column">
			      <input class="u-full-width" type="password" placeholder="admin password" name="pwd" >
			    </div>
      </div>
      <div class="row">
	    		<div class="six column">
	    			<input type='submit' class="button button-primary" value="Let's play!">
	    		</div>
	    	</div>
		</form>

</body>
</html>
